body {
    background: url(../img/bg.png) 0 0 repeat-x #ccc;
    font: 12px/16px Helvetica, Arial, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0 #fff;
}

ul {
	list-style: none;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
}

h2 {
    padding: 6px 0 10px 0;
    font: bold 16px/22px "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    color: #333;
}

p {
    padding: 0 0 10px;
}

a {
    color: #000;
    text-decoration: none;
}

#outterWrapper {
	overflow: hidden;
position: relative;
width: 1000px;
margin: 0 auto;
padding-bottom: 135px;
background: url(../img/reflection.jpg) center 431px no-repeat transparent;
}

#innerWrapper {
	position: relative;
overflow: hidden;
width: 558px;
height: 278px;
margin: 140px auto 0;
padding: 6px;
background-color: #fff;
border: 1px solid #c1c1c1;
border-bottom: 0 none;
}

.mainNav {
	position: absolute;
bottom: 0;
left: 183px;
overflow: hidden;
z-index: 100;
clear: both;
width: 172px;
height: 20px;
padding: 10px 0 4px 10px;
text-align: center;
border-left: 1px solid #fff;
border-right: 1px solid #fff;
background: url(../img/navMain-bg.gif) repeat-x 0 0 #fff;
text-align: center;

}

.mainNav li:first-child {
	margin-left: 11px;
}

.mainNav li:last-child {
	margin-right: 0px;
}

.mainNav li {
	display: block;
	float: left;
	margin-right: 24px
}

.mainNav li a.selected, .mainNav li a:hover, .mainNav li a:focus {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;

}
.mainNav li a {
    filter: alpha(opacity=50);
    -moz-opacity: 0.50;
    opacity: 0.50;
}
.mainNav li a {
    display: block;
    float: left;
}

.mainNav li img {
	padding: 0 7px;
}

.content {
	position: relative;
overflow: hidden;
width: 558px;
height: 278px;
background: url(../img/content-bg.gif) repeat-x 0 0 #eee;
}

.inner_content {
	position: relative;
	width: 9999px;
}

.section {
    position: relative;
    float: left;
    margin-right: 50px;
    width: 538px;
    height: 253px;
    padding: 0 10px 25px;
    transition: all 2s ease-in-out 0.5s;
    
}

#home {
    padding: 65px 10px 25px;
    height: 188px;
    transition: all 2s ease-in-out 0.5s;
}

#home h1 {
    position: relative;
    margin: 0;
    padding: 30px 0 0;
    font: normal 36px/52px "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    color: #333;
    text-align: center;
}

#home h3 {
    font: normal 14px/18px Helvetica, Arial, sans-serif;
    color: #666;
    text-align: center;
}

.left {
    float: left;
    margin: 5px 16px 5px 0;
}

#about {
    transition: all 2s ease-in-out 0.5s;

}

#network ul {
    overflow: hidden;
    padding: 2px 0 2px;
}

#network li {
    overflow: hidden;
    display: block;
    float: left;
    width: 252px;
    height: 46px;
    margin: 0 14px 0 0;
}

#network li a {
    overflow: hidden;
    display: block;
    float: left;
    width: 252px;
    height: 36px;
    padding: 0;
    color: #666;
}

#network strong {
    display: block;
    font: bold 14px/20px "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    color: #333;
}